{% extends 'ui/base.html'%}
{% load static %}


{% block mainpage %}
<style media="screen">
  h2 {
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-size: 25px;
    color: #b30000;
  }
</style>

<div class="card">
  <!--Card content-->
  <div class="card-body">
    <table class="table table-sm">
      <tr>
        <th colspan=" 7">
          <h2>{{company}} OutSale Table</h2>
        </th>
        <th>
          <h2>{{discount}}/-</h2>
        </th>
      </tr>
      <tr>
        <th>Code</th>
        <th>Brand</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Issued to</th>
        <th>Date</th>
        <th>Discount</th>
        <th>Updated date</th>
      </tr>
      {% for sale in sales %}
      <tr>
        <td>{{sale.brand.ncode}}</td>
        <td>{{sale.brand.name}}</td>
        <td>{{sale.qty}}</td>
        <td>{{sale.price}}</td>
        <td>{{sale.name}}</td>
        <td>{{sale.date}}</td>
        <td>{{sale.dis}}</td>
        <td>{{sale.udate}}</td>
      </tr>
      {%endfor%}
      <tr>
        <th colspan="6"></th>
        <th>Discount :</th>
        <th id='price'>{{discount}}/-</th>
      </tr>
    </table>
  </div>
</div>
{%endblock%}

{% block side %}
<div class="card mt-3">
  <a class="btn btn-sm btn-light " href="{%url 'outsaleadd'%}">Add Outsale</a>
  <div class="card m-2">
    <div class="card-body">
      <form action="{%url 'mrpview'%}" method="POST">

        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
          </div>
          <input type="date" name="date" required id="id_date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        {% csrf_token %}
        <button class="btn btn-sm btn-primary" type="submit" name="button">Submit</button>
      </form>
    </div>
  </div>

</div>
{%endblock%}

{% block jsblock%}

{%endblock%}