{% extends 'ui/base.html'%}
{% load static %}


{% block mainpage %}
<style>
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }


  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 15px;
  }

  h2 {
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-size: 25px;
    color: #b30000;
  }

    {
    text-align: right;
  }
</style>
<div class="card">
  <!--Card content-->
  <div class="card-body">
    <table class="table table-sm">
      <tr>
        <th colspan="7">
          <h2>{{company}} Sale Table</h2>
        </th>
        <th id='price'>{{date}}</th>
      </tr>
      <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>OS</th>
        <th>RC</th>
        <th>CS</th>
        <th>Sale</th>
        <th>Rate</th>
        <th>Amount</th>

      </tr>
      {% for sale in sales %}
      <tr>
        <td class="text-center">{{sale.brand.ncode}}</td>
        <td>{{sale.brand.name}}</td>
        {%if sale.os is 0%}
        <td>-</td>
        {%else%}
        <td class="text-center">{{sale.os}}</td>
        {%endif%}
        {%if sale.rc is 0%}
        <td>-</td>
        {%else%}
        <td class="text-center">{{sale.rc}}</td>
        {%endif%}
        {%if sale.cs is 0%}
        <td>-</td>
        {%else%}
        <td class="text-center">{{sale.cs}}</td>
        {%endif%}
        {%if sale.s is 0%}
        <td>-</td>
        {%else%}
        <td class="text-center">{{sale.s}}</td>
        {%endif%}
        <td class="text-right" id='price'>{{sale.brand.bprice}}/-</td>
        {%if sale.amt is 0%}
        <td>-</td>
        {%else%}
        <td class="text-right" id='price'>{{sale.amt}}</td>
        {%endif%}
      </tr>

      {%endfor%}
      <tr>
        <th colspan="6"></th>
        <th>total :</th>
        <th id='price'>{{salet}}/-</th>

      </tr>
    </table>
  </div>
</div>

{%endblock%}

{% block side %}
<div class="card">
  <div class="card m-2">
    <div class="card-body">
      <form method="post">

        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Start Date</span>
          </div>
          <input type="date" name="date" required id="id_date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        {% csrf_token %}
        <button class="btn btn-sm btn-light" type="submit" name="button">Search</button>
      </form>
    </div>
  </div>


  <div class="card m-2">
    <div class="card-body">
      <form action="{%url 'salepdf'%}" method="post">

        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
          </div>
          <input type="date" name="date" required id="id_date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        {% csrf_token %}
        <button class="btn btn-sm btn-light" type="submit" name="button">View Pdf</button>
      </form>
    </div>
  </div>

</div>
{%endblock%}

{% block jsblock%}

{%endblock%}