{%extends 'ui/bootstrap4.html'%}
{%load static%}
{%block content%}
<style media="screen">
  th,
  td {
    font-size: 15px;
  }

  th {
    color: #9900e6;
  }

  h2 {
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-size: 35px;
    color: #b30000;
  }

  p {
    padding: 0;
    margin: 0;
  }
</style>
<div class="row mt-3">
  <div class="col-lg-4">
    <a class="btn btn-sm btn-danger " href="{%url 'home'%}">Home</a>
    <a class="btn btn-sm btn-warning " href="">clear</a>
  </div>
  <div class="col-lg-4">

  </div>
  <div class="col-lg-4">
    {% if sales.salet is 0 %}
    <form class="" action="{%url 'dailysheet'%}" method="post">
      {%csrf_token%}
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Start Date</span>
        </div>
        <input type="date" name="date" required id="id_date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        <button class="btn btn-sm" type="submit" name="button">submit</button>
      </div>
    </form>
    {%endif%}
  </div>


</div>



{% if sales.salet is not 0 %}
<div class="row">
  <div class="col-lg-9">
    <h2>{{company}} Sale Table</h2>
  </div>
  <div class="col-lg-3">
    <h2>{{sales.date}}</h2>
  </div>
</div>
<div class="row">
  <div class="col-lg-9">
    <center>
      <p>Nainagar,near KU X-Road</p>
      <p>Gopalpur Nainagar junction,Warangal,506001.</p>
    </center>
  </div>
  <div class="col-lg-3">
    <form class="" action="{%url 'dailysheet'%}" method="post">
      {%csrf_token%}
      <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Start Date</span>
        </div>
        <input type="date" name="date" required id="id_date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        <button class="btn btn-sm" type="submit" name="button">submit</button>
      </div>
    </form>
  </div>
</div>
{%endif%}
{% if sales.salet is not 0 %}

<div class="row">
  <div class="col-lg-6">
    <table class="table table-sm">
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>os</th>
        <th>rc</th>
        <th>cs</th>
        <th>Sale</th>
        <th>Rate</th>
        <th>Amount</th>

      </tr>
      {%for sale in sales.sales %}
      <tr>
        <td>{{sale.brand.ncode}}</td>
        <td>{{sale.brand.name}}</td>
        {%if sale.os is 0%}
        <td></td>
        {%else%}
        <td>{{sale.os}}</td>
        {%endif%}
        {%if sale.rc is 0%}
        <td></td>
        {%else%}
        <td>{{sale.rc}}</td>
        {%endif%}
        {%if sale.cs is 0%}
        <td></td>
        {%else%}
        <td>{{sale.cs}}</td>
        {%endif%}
        {%if sale.s is 0%}
        <td colspan="3"></td>
        {%else%}
        <td>{{sale.s}}</td>
        <td id='price'>{{sale.brand.bprice}}</td>
        <td id='price'>{{sale.amt}}</td>
        {%endif%}

      </tr>
      {%endfor%}
      <tr>
        <th colspan="6"></th>
        <th>total :</th>
        <th id='price'>{{sales.salet}}/-</th>

      </tr>
    </table>
  </div>
  <div class="col-lg-6 ">
    <table class="table table-sm">
      <tr>
        <th>Code</th>
        <th>Brand</th>
        <th>Quantity</th>
        <th>Rate</th>
        <th>Issued to</th>
        <th>Discount</th>
      </tr>
      {% for sale in outsales.sales %}
      <tr>
        <td>{{sale.brand.ncode}}</td>
        <td>{{sale.brand.name}}</td>
        <td>{{sale.qty}}</td>
        <td>{{sale.price}}</td>
        <td>{{sale.name}}</td>
        <td>{{sale.dis}}</td>
      </tr>

      {%endfor%}
      <tr>
        <th colspan="4"></th>
        <th>Discount :</th>
        <th colspan="2" id='price'>{{outsales.discount}}/-</th>

      </tr>
    </table>

    <table class="table table-sm">
      <tr>
        <th>Name</th>
        <th>Amount</th>
        <th colspan="3"></th>
      </tr>
      {%for exp in sales.exps%}
      <tr>
        <td>{{exp.name}}</td>
        <td id='price'>{{exp.amount}}</td>
        <td colspan="3"></td>

      </tr>
      {%endfor%}
      <tr>
        <th>total</th>
        <th id='price'>{{sales.ttl.amount__sum}}/-</th>
        <th colspan="3"></th>

      </tr>
    </table>
    <table class="table table-sm">
      <tr>
        <th colspan="">Sales Report</th>
        <th>{{sales.date}}</th>
      </tr>
      <tr>
        <td>Sale:</td>
        <td>{{sales.salet}}</td>
      </tr>
      <tr>
        <td>OutSale Discount:</td>
        <td>{{outsales.discount}}</td>
      </tr>
      <tr>
        <td>Expenditure :</td>
        <td>{{sales.ttl.amount__sum}}</td>
      </tr>
      <tr>
        <th>Net Sale:</th>
        <th>{{cc}}</th>
      </tr>
    </table>
  </div>
</div>
{%else%}
<div class="alert alert-info alert-dismissible fade show" role="alert">
  <center>
    <strong></strong> {{message}} {{date}}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>

  </center>
</div>
{%endif%}

{%endblock%}