{% extends 'ui/base.html'%}
{% load static %}


{% block mainpage %}
<style>
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }


  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-size: 15px;
  }

  h2 {
    font-family: 'Times New Roman', serif;
    text-align: center;
    font-size: 25px;
    color: #b30000;
  }

    {
    text-align: right;
  }
</style>
{%if receits%}
<div class="card  mt-3 p-2">
  <div class="card">
    <table class="table-table-sm">
      <tr>

        <th colspan="2">
          <h2>Alankar Restaurant and Bar Stock Table</h2>
        </th>
        {%if date%}
        <th colspan="1">
          <h5><a href="{%url 'receitentry' date%}">{{date}}</a></h5>
        </th>
        {%else%}
        <th colspan="1"></th>
        {%endif%}
      </tr>
      <tr>
        <th>Date</th>
        <th>Brand Name</th>
        <th>Qty</th>
      </tr>
      {% for receit in receits %}
      <tr>
        <td>{{receit.date}}</td>
        <td>{{receit.brand.name}}</td>
        <td class="text-center">{{receit.qty}}</td>
      </tr>
      {%endfor%}
    </table>
  </div>
</div>
{%else%}
<div class="alert alert-danger alert-dismissible fade show mt-3" role="alert">
  <strong>Hi User,</strong> Please select Date and submit.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endif%}
{% endblock %}

{% block side %}

<div class="card mt-3">
  <div class="card-body">
    <form method="post">

      <div class="input-group input-group-sm mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Date</span>
        </div>
        <input type="date" name="date" required id="id_date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
      </div>
      {% csrf_token %}
      {%if not date %}
      <button class="btn btn-sm btn-primary" type="submit" name="button">Search</button>
      {%endif%}
    </form>
    <form action="{%url 'receitpdf'%}" method="post">
      {%csrf_token%}
      <div class="input-group input-group-sm mb-1">
        <input type="hidden" name="date" required id="id_date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="{{date}}">
      </div>
      {%if date %}
      <button class="btn btn-sm btn-secondary" type="submit" name="button">View Pdf</button>
      <a class="btn btn-sm " href="/receits" type="" name="button">Clear</a>
      {%endif%}

    </form>
  </div>
</div>

{% endblock %}
{% block jsblock%}
{%endblock%}