{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style >
      th,td{
        font-size:15px;
        text-align:center;
      }

      h1{
        text-align:center;
        font-size:40px;
        color:red;
        margin:0px;
      }
      h2{
        text-align:center;
        font-size:15px;
        color:blue;
        margin:0px;
      }

    </style>
  </head>
  <body>
    <h1>Alankar Restaurant and Bar</h1>
    <h2>Naimnagar,Gopalpur Cross,KU X-Road</h2>
    <h2>Hanamkonda,Warangal,506001</h2>


  <table>
        <tr>
          <th colspan="3"></th>
          <th><h2>{{date}}</h2></th>
        </tr>
        <tr>
          <th colspan="4"><hr></th>
        </tr>
        <tr>
          <th>Code</th>
          <th>Brand Name</th>
          <th>Brand Price</th>
          <th>Qty</th>
        </tr>
        {% for receit in receits %}
        <tr>
          <td>{{receit.brand.ncode}}</td>
          <td>{{receit.brand.name}}</td>
          <td>{{receit.brand.iprice}}</td>
          <td>{{receit.qty}}</td>
        </tr>
        {%endfor%}
        <tr>
          <th colspan="4"><hr></th>
        </tr>

      </table>
  </body>
</html>
