{% extends 'ui/base.html'%}
{% load static %}
{% block mainpage %}
<style media="screen">
  .text {
    color: red;
    font-size: 15px;
  }
</style>
<div class="row">
  <div class="col">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Sales</h5>
        <p class="text"><span>&#8377;</span> 103456</p>
        <a href="{% url 'outsale'%}" class="btn btn-secondary btn-sm">More</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Stock</h5>
        <p class="text"><span>&#8377;</span> 300000</p>
        <a href="{% url 'stock'%}" class="btn btn-secondary btn-sm">More..</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Expenditure</h5>
        <p class="text"><span>&#8377;</span> 150000</p>
        <a href="{% url 'exp'%}" class="btn btn-secondary btn-sm">More..</a>
      </div>
    </div>

  </div>
</div>
<div class="row mt-2">
  <div class="col">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Loans</h5>
        <p class="text"><span>&#8377;</span> 2300000</p>
        <a href="{% url 'loan'%}" class="btn btn-secondary btn-sm">More..</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">

      <div class="card-body">
        <h5 class="card-title">Credits</h5>
        <p class="text"><span>&#8377;</span> 30000</p>
        <a href="{% url 'credits'%}" class="btn btn-secondary btn-sm">More..</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Discounts</h5>
        <p class="text"><span>&#8377;</span> 76520</p>
        <a href="{% url 'mrpview'%}" class="btn btn-secondary btn-sm">More..</a>
      </div>
    </div>
  </div>
</div>

{%endblock%}

{% block side %}
<div class="card">
  <div class="card-body">
    <h5 class="card-title">Stock Details</h5>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Brands :{{total}}</h5>
        <p class="text">Liquor :{{l}} </p>
        <p class="text">Beer :{{b}} </p>
        <p class="text">Misc :{{m}} </p>

      </div>
      <div class="card-body">
        <h5 class="card-title">Bank Balance</h5>

        <p class="text"><span>&#8377;</span> 170000</p>
        <a href="#!" class="btn btn-secondary btn-sm">More..</a>
      </div>
    </div>
  </div>
</div>
{%endblock%}

{% block jsblock%}

{%endblock%}
