<nav class="mb-2 navbar navbar-expand-sm navbar-light silver lighten-1">
  <a class="navbar-brand" href="/">Alankar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555" aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{%url 'home'%}">Dashboard</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/">Home
          <!--<span class="sr-only">(current)</span>-->
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/brands">Brands</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/exp">Expenditure</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/stocks">Stock</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/receits">Receits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/outsale">Sales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'dailysheet'%}">Salesheet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'mrpview'%}">Outsales</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/loans">Loans</a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-555" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Others
        </a>
        <div class="dropdown-menu dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-555">
          <a class="dropdown-item" href="/credits">Credits</a>
          <a class="dropdown-item" href="/rootlocus">Dealers</a>
          <a class="dropdown-item" href="/bode">Official Contacts</a>
          <a class="dropdown-item" href="/polar">Partners</a>
          <a class="dropdown-item" href="/nyquist">Backup</a>
        </div>
      </li>
    </ul>
  </div>
  <form class="form-inline m-0">
    <input class="form-control " type="search" placeholder="Search">
    <button class="btn btn-sm " type="submit">Search</button>
  </form>
</nav>